@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li a {
        display: block;
        padding: 20px 0;
    }



    .banner-image img {
        max-width: 344px;
    }

    .banner-content {
        background-image: url('images/Group\ 14.png');
        padding: 23px 27px;
    }

    .button {
        text-align: center;
    }

    .menu-button {
        padding: 0 13px;
    }

    .banner-content p {
        margin-left: 84px;
        font-size: 16px;

    }

    .banner {
        background-image: none;
    }

    .banner-main {

        flex-direction: column-reverse;
    }

    .banner-content h1 {
        font-size: 55px;


        text-align: center;
    }

    .banner-content h2 {

        text-align: center;
        font-size: 29px;

    }



    /* gamers section responsive */


    .gamers {
        flex-direction: column;
        padding: 6px 0;
    }

    .gamer-content {
        text-align: center;

    }

    .gamer-image img {
        width: 368px;
    }

    .gamer-content p {

        font-size: 1rem;
    }

    .gamer-content h2 {
        font-size: 2.1rem;
    }

    .gFooter h5 {
        font-size: 1.2rem;
    }


    /* ----------ONLINE GAMES SECTION CSS---------------  */

    .online-games-items {
        flex-direction: column;
    }

    .online-games-card {
        text-align: center;
    }

    .online-games-card p {
        margin: 10px 46px;
        font-size: 18px;

    }

    .online-games-title h1 {
        font-size: 33px;
    }

    .online-games-title p {
        font-size: 15px;
    }





    /* ----------------------PLAY SECTION RESPONSIVE------------------------ */

    .play-section {
        flex-direction: column;
    }

    .play-image {
        margin-top: 27px;
        text-align: center;
    }

    .play-image img {
        width: 235px;
        height: auto;
    }

    .badge img {
        width: 32%;
        position: relative;
        right: 113px;
        bottom: 110px;
    }

    .play-content {
        text-align: center;
        padding: 1rem;
    }

    .play-content h2 {
        font-weight: 700;
        margin: 12px 0;
        font-size: 2.5rem;
    }

    /* ----------------------PLAY SECTION RESPONSIVE------------------------ */







    /* -----------------------CAREER RESPONSIVE------------------ */

    .career-main {
        flex-direction: column;
    }

    .career-content {
        padding: 0 20px;
    }

    .career-img img {
        width: 100%;
    }

    .career-img {
        margin-right: 0;
    }

    .career-content p {
        font-size: 17px;

    }

    .post h5 {
        font-size: 17px;
    }


    /* CAREER RESPONSIVE END */


    /* game name */
    .game-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 35px 15px;
    }



    .game-logo img {
        width: 45px;
    }

    .game-logo {
        padding: 0 0;
        margin-left: 0;

    }

    .game-logo p {

        font-size: 14px;
        margin-left: 6px;
        font-weight: 600;
    }



    /* ------------------footer section----------------------- */

    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .footer-menu-three ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content p {
        padding: 20px;
    }





}









@media screen and (min-width:576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }



    .banner-image img {
        max-width: 381px;
    }

    .banner-main {
        padding: 45px 25px;

    }

    .banner-content h2 {
        font-size: 35px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .banner-content h1 {
        font-size: 64px;

    }






    /* --------gamer responsive------------- */
    .gamer-content {

        margin-right: 27px;
    }

    .gamer-content p {

        font-size: 17px;
    }

    .gamer-image img {
        width: 414px;
    }




    /* -----------online games responsive------------- */

    .online-games-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        padding: 0 47px;
    }

    /* -----------online games responsive------------- */

    /* play section */
    .play-content {
        padding: 5rem 3rem;
    }

    .badge img {
        width: 44%;
        position: relative;
        right: 132px;
        bottom: 124px;
    }

    .mini-img img {

        height: auto;
    }

    .play-image>img {
        width: 302px;
        height: auto;
    }

    .play-image {
        margin: 54px 21px;
        text-align: center;
    }




    /* play section */

    /* -----------------CARRER RESPONSIVE-------------------- */

    .career-main {
        flex-direction: column;
    }

    .career-content {
        padding: 0 30px;
    }


    .career-img {
        margin-right: 0;
    }



    .footer-content p {
        padding: 20px;
    }



    .game-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }


}