* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

p {
    color: #534C64;
}



/* -------------------HEADER CSS START HERE------------------------ */
header {
    box-shadow: 0px 0px 17px #e5dddd;
    background: #ffffff;
}

nav {
    display: flex;
    padding: 20px 0;

    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    margin-right: 10px;
    width: 60px;
}

.logo h2 {
    font-size: 35px;
    font-weight: 700;
    color: #0B0223;
}



.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li {
    margin-left: 26px;
}

.menu ul li a {
    color: #3C354F;
    font-weight: 500;
    font-size: 18px;
}

.menu-button {
    display: flex;
    align-items: center;
    background-color: #e7e6e9;
    padding: 7px 5px;
    margin-left: 28px;
    border-radius: 5px;
}

.menu-button img {
    margin-left: -16px;
    margin-top: 4px;

    width: 22px;
}

/* --------------------HEADER CSS END--------------------------------- */

/* --------------------BANNER CSS START--------------------------------- */


.banner {
    background-image: url('images/Group\ 14.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.banner-main {
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-image img {
    max-width: 520px;
}

.banner-content {
    margin-top: 52px;
}

.banner-content h2 {
    color: #0B0223;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.banner-content h1 {
    font-size: 78px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.banner-content p {
    margin-left: 5px;
    font-size: 17px;
    margin-bottom: 6px;
}

.btn {
    margin-top: 25px;
    font-weight: 700;
    padding: 14px 28px;
    border: navajowhite;
    border-radius: 21px;
    margin-right: 8px;
    background-color: #ff42a5;
}

.btn a {
    color: #fff;
}

.one {
    background: linear-gradient(#ff42a5, #ff42a5);
}

.two {
    background-color: #4EC5F7;
}



/* ------------------------BANNER SECTION END------------------------- */





/* ----------------GAMERS SECTION CSS-------------------------- */



.gamers {
    background-color: #fff9fc;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer-image img {
    width: 610px;
}

.gamer-content {
    text-align: right;
}

.gamer-content h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 39px;
}

.gamer-content p {
    line-height: 27px;
    color: #534C64;
    font-size: 18px;
}

.gFooter {
    margin: 20px 0;
}

.gFooter h5 {
    font-weight: 800;
    font-size: 20px;
    color: #534C64;
}

.gFooter p {
    margin: 8px 0;
}

.gFooter span {}

/* --------------------GAMERS CSS END--------------------------------- */



/* -------------------ONLINE GAMES SECTION---------------------------- */

.online-games {
    padding: 40px 0;
}

.online-games-title {
    text-align: center;
}

.online-games-title h1 {
    color: #0B0223;
    font-weight: 800;
    margin: 11px 0;
    font-size: 40px;
    font-size: 40px;
}



.online-games-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-items {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.online-games-card img {
    width: 312px;
}

.online-games-card p {
    margin: 10px 6px;
    font-weight: 500;
    line-height: 24px;
}



/* -------------------------PLAY SECTION CSS---------------------------- */

.play-section {
    margin-top: 16px;
    display: flex;
    
    
    justify-content: space-between;
}
.play-content {
    padding: 11rem 9rem;
}
.play-image {
    margin: 58px 0;
    text-align: center;
}

.play-image  img {
    width: 400px;
    height: auto;
}

.badge img {
    width: 50%;
    position: relative;
    right: 195px;
    bottom: 190px;
}

.play-content h2 {
    font-weight: 700;
    margin: 17px 0;
    font-size: 40px;
}
.play-content p {
    margin-left: 0px;
    font-size: 18px;
    line-height: 29px;
}
.play-content span{
    color: #F948B2;
}


/* -------------------------PLAY SECTION CSS END---------------------------- */


/* ----------------------------CAREER SECTION CSS START-------------------- */

.career {
    margin: 80px 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-img img {
    width: 732px;
}


.career-inner {
    display: flex;
    justify-content: space-between;
}


.career-content {}

.career-content h3 {
    color: #fff;
    font-weight: 700;
    font-size: 33px;
    margin: 17px 0;
}

.career-content p {
    font-size: 17px;
    color: #ffff;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 20px;
}

.post h5 {
    line-height: 33px;
    color: #ffff;
    font-size: 17px;
    font-weight: 500;
}

.location h5 {
    line-height: 33px;
    color: #ffff;
    font-size: 17px;
    font-weight: 500;
}

.career-img {
    margin-right: -125px;
}











/* ----------------------------CAREER SECTION CSS END-------------------- */




/* -------------------------GAMES NAME SECTION-------------------------- */

/* 
.game-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.game-logo {
    display: flex;
    padding: 4px 33px;
    align-items: center;
}

.game-logo p{

} */

/* -------------------------GAMES NAME SECTION-------------------------- */





/* -----------------------------FOOTER SECTION CSS START-----------------------  */

.footer {
    padding: 70px 0;
    background-color: #0b0223;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.footer-logo img {
    width: 60px;
}

.footer-logo h2 {
    font-weight: 800;
    margin-left: 10px;
    font-size: 33px;
}

.footer-logo span {
    color: #ff42a5;
}

.footer-content {
    text-align: center;
}

.footer-menu ul {
    display: flex;
    justify-content: center;
}
.footer-menu-three ul {
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    padding: 22px;
}

.footer-menu ul li a {
    color: #fff;
    font-weight: 700;
}

.footer-menu-three ul {
    display: flex;
    color: white;
    justify-content: center;
    list-style: none;
  
}
.footer-menu-three ul li {
    color: #afacb8;
    padding: 18px;
    font-size: 15px;
    list-style: none;
}







/* -----------------------------FOOTER SECTION CSS END-----------------------  */